/* Custom CSS for the filter section */
.filter-container {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px;
}

.filter-container h5 {
  margin-bottom: 20px;
  color: #343a40;
}

.filter-container .form-group {
  margin-bottom: 5px;
}

.filter-container label {
  margin-left: 10px;
  font-weight: normal;
  color: #495057;
}

.filter-container input[type="checkbox"] {
  margin-right: -6px;
}

/* Additional custom styles for the product cards */
.card-body .card-title {
  color: #007bff;
  font-weight: bold;
}

.card-body {
  color: #6c757d;
  padding: 10px;
}

.card-body .btn-primary {
  background-color: #007bff;
  border: none;
}

.card-body .btn-primary:hover {
  background-color: #0056b3;
}

/* Custom styles to ensure uniform image size */
.product-img {
  height: 200px;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card .card-text {
  text-align: left;
  font-size: 13.5px;
  line-height: 15px;
}

/* Custom styles for wider container */
.custom-container {
  max-width: 1500px; /* Adjust this value as needed */
}
